.scrollable-table {
    display: block;
    max-height: 80vh;
    /* Adjust based on your needs */
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table th,
.table td {
    white-space: nowrap;
}

.table tfoot tr th {
    position: sticky;
    bottom: 0;
    background-color: #fff;
}